@page
@model Proiect_Farcas_Gherghelas.Pages.Produse.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produs.TipProdus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produs.TipProdus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produs.Marime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produs.Marime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produs.Inaltime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produs.Inaltime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produs.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produs.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produs.Inchiriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produs.Inchiriere.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Produs.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
