@page
@model Proiect_Farcas_Gherghelas.Pages.Programari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Inchirieri</h1>
<p>

</p>
<p>
    <a asp-page="Create">Inchirieaza aici!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].DataOra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].NrOre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Produs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].InchiriereID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Programare) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataOra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrOre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produs.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InchiriereID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
